# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# production
/build
/dist
/dist-android
/dist-ios
/web-build

# Expo
.expo/
expo-env.d.ts

# generated native folders
/ios
/android

# Metro
.metro-health-check*

# misc
.DS_Store
*.pem
*.orig.*
.kotlin/

# signing & credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# local tooling
.vercel
example
/temp

**/service_account.json
